.block_1, .block_2{
  width: 50%;
}
.block_1, form, button, h1{
  margin: auto;
}
.block_2{
  background-color: rgb(9, 38, 58) ;
  position: relative;
}
.home, label, form{
  display: flex;
}
label,form{
  flex-direction: column;
}
form {
  height: 150px;
  justify-content: space-around;
}
button, form, h1{
  width:  60%;
}
img{
  border: 2px solid black;
  border-radius: 10%;
  display: flex;
  justify-content: space-around;
  height: 50%;
  position: absolute;
  right: 5%;
}